<div class='group relative h-96 rounded-lg bg-white shadow-xl sm:aspect-h-5 sm:aspect-w-4 sm:h-auto'>
  <div>
    <div
      aria-hidden='true'
      class='absolute inset-0 overflow-hidden rounded-lg'
    >
      <div class='absolute inset-0 overflow-hidden group-hover:opacity-75'>
        <img
          srcset='
            {{ collection.featured_image | image_url: width: 400 }} 400w,
            {{ collection.featured_image | image_url: width: 600 }} 600w
          '
          src='{{ collection.featured_image | image_url: width: 600 }}'
          alt='{{ collection.featured_image.alt | escape }}'
          class='h-full w-full object-cover object-center'
          sizes='
            (max-width: 425px) 400px,
            600px
          '
          width='{{ collection.featured_image.width }}'
          height='{{ collection.featured_image.height }}'
        >
      </div>
      <div
        class='absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50'
      ></div>
    </div>
    <div class='absolute inset-0 flex items-end rounded-lg p-6'>
      <div>
        <p aria-hidden='true' class='text-lg text-orange-200'>
          Shop the collection
        </p>
        <h3 class='mt-1 font-heading text-2xl font-semibold text-orange-200'>
          <a href='{{ collection.url }}'>
            <span class='absolute inset-0'></span>
            {{ collection.title }}
          </a>
        </h3>
      </div>
    </div>
  </div>
</div>
