<div class='bg-white'>
  <div class='mx-auto flex h-10 max-w-7xl items-center justify-between p-4 sm:p-6 lg:p-8'>
    <p class='flex-1 text-center font-medium text-slate-700 lg:flex-none'>
      {{ section.settings.text }}
    </p>
    {% form 'localization', class: 'flex gap-8' %}
      <input
        type='hidden'
        name='country_code'
        class='localization-country-code-value'
      >
      <input
        type='hidden'
        name='locale_code'
        class='localization-language-code-value'
      >

      <!-- Country selector -->
      <div class='flex items-baseline gap-4'>
        <label
          id='listbox-label'
          class='block text-sm font-medium leading-6 text-slate-700'
          >Country</label
        >
        <div class='relative w-60' x-data='{ openOptions: false }'>
          <button
            type='button'
            class='relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-slate-700 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-300 sm:text-sm sm:leading-6'
            aria-haspopup='listbox'
            aria-labelledby='listbox-label'
            @click='openOptions = ! openOptions'
          >
            <span class='flex gap-1 truncate'>
              {{- localization.country.name -}}
              <span>
                (
                {{- localization.country.currency.iso_code -}}
                )
              </span>
            </span>
            <span class='pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2'>
              <svg
                class='h-5 w-5 text-gray-400'
                viewBox='0 0 20 20'
                fill='currentColor'
                aria-hidden='true'
              >
                <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
              </svg>
            </span>
          </button>

          <!--
            Select popover, show/hide based on select state.

            Entering: ""
              From: ""
              To: ""
            Leaving: "transition ease-in duration-100"
              From: "opacity-100"
              To: "opacity-0"
          -->
          <ul
            x-transition:enter=''
            x-transition:enter-start=''
            x-transition:enter-end=''
            x-transition:leave='transition ease-in duration-100'
            x-transition:leave-start='opacity-100'
            x-transition:leave-end='opacity-0'
            x-show='openOptions'
            @click.away='openOptions = false'
            class='country-selector-values hidden absolute w-full z-10 mt-1 max-h-60 flex-col overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm'
            tabindex='-1'
            role='listbox'
            aria-labelledby='listbox-label'
          >
            {% for country in localization.available_countries %}
              <!--
                Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

                Highlighted: "bg-indigo-600 text-white", Not Highlighted: "text-slate-700"
              -->
              <li
                class='localization-country-code-option text-slate-700 relative cursor-default select-none py-2 pl-3 pr-9 hover:bg-orange-200 focus:bg-orange-200 focus:outline-none'
                role='option'
                tabindex='0'
                @click='openOptions = false'
                data-country-iso-code='{{ country.iso_code }}'
              >
                <!-- Selected: "font-semibold", Not Selected: "font-normal" -->

                <span
                  class='
                    {%- if country.iso_code == localization.country.iso_code %}
                      font-semibold
                    {% else %}
                    font-normal
                    {% endif %}
                    block truncate
                  '
                >
                  {{ country.name }} ({{ country.currency.iso_code }})
                </span>
              </li>
            {% endfor %}

            <!-- More items... -->
          </ul>
        </div>
      </div>

      <!-- Language selector -->
      <div class='flex items-baseline gap-4'>
        <label
          id='listbox-label'
          class='block text-sm font-medium leading-6 text-slate-700'
          >Language</label
        >
        <div class='relative w-40' x-data='{ openLanguageOptions: false }'>
          <button
            type='button'
            class='relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-slate-700 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-300 sm:text-sm sm:leading-6'
            aria-haspopup='listbox'
            aria-labelledby='listbox-label'
            @click='openLanguageOptions = ! openLanguageOptions'
          >
            <span class='flex gap-1 truncate'>
              {{- localization.language.endonym_name | capitalize -}}
            </span>
            <span class='pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2'>
              <svg
                class='h-5 w-5 text-gray-400'
                viewBox='0 0 20 20'
                fill='currentColor'
                aria-hidden='true'
              >
                <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
              </svg>
            </span>
          </button>

          <!--
            Select popover, show/hide based on select state.

            Entering: ""
              From: ""
              To: ""
            Leaving: "transition ease-in duration-100"
              From: "opacity-100"
              To: "opacity-0"
          -->
          <ul
            x-transition:enter=''
            x-transition:enter-start=''
            x-transition:enter-end=''
            x-transition:leave='transition ease-in duration-100'
            x-transition:leave-start='opacity-100'
            x-transition:leave-end='opacity-0'
            x-show='openLanguageOptions'
            @click.away='openLanguageOptions = false'
            class='language-selector-values hidden absolute w-full z-10 mt-1 max-h-60 flex-col overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm'
            tabindex='-1'
            role='listbox'
            aria-labelledby='listbox-label'
          >
            {% for language in localization.available_languages %}
              <!--
                Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

                Highlighted: "bg-indigo-600 text-white", Not Highlighted: "text-slate-700"
              -->
              <li
                class='localization-language-code-option text-slate-700 relative cursor-default select-none py-2 pl-3 pr-9 hover:bg-orange-200 focus:bg-orange-200 focus:outline-none'
                role='option'
                tabindex='0'
                @click='openLanguageOptions = false'
                data-language-iso-code='{{ language.iso_code }}'
              >
                <!-- Selected: "font-semibold", Not Selected: "font-normal" -->

                <span
                  class='
                    {%- if language.iso_code == localization.language.iso_code %}
                      font-semibold
                    {% else %}
                    font-normal
                    {% endif %}
                    block truncate
                  '
                >
                  {{ language.endonym_name | capitalize }}
                </span>
              </li>
            {% endfor %}

            <!-- More items... -->
          </ul>
        </div>
      </div>
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "announcement-bar",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "Welcome to our store!",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
    }
  ]
}
{% endschema %}
