<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div
  class='bg-slate-600 text-orange-200'
  x-data='{ mobileMenuOpen: false }'
>
  <!--
    Mobile menu

    Off-canvas menu for mobile, show/hide based on off-canvas menu state.
  -->
  <div
    x-show='mobileMenuOpen'
    class='hidden relative z-40 lg:hidden'
    role='dialog'
    aria-modal='true'
    id='mobile-menu'
  >
    <!--
      Off-canvas menu backdrop, show/hide based on off-canvas menu state.

      Entering: "transition-opacity ease-linear duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "transition-opacity ease-linear duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div
      x-show='mobileMenuOpen'
      x-transition:enter='transition-opacity ease-linear duration-300'
      x-transition:enter-start='opacity-0'
      x-transition:enter-end='opacity-100'
      x-transition:leave='transition-opacity ease-linear duration-300'
      x-transition:leave-start='opacity-100'
      x-transition:leave-end='opacity-0'
      class='fixed inset-0 bg-black bg-opacity-25'
    ></div>

    <div class='fixed inset-0 z-40 flex'>
      <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform"
          From: "-translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "-translate-x-full"
      -->
      <div
        @click.away='mobileMenuOpen = false'
        x-show='mobileMenuOpen'
        x-transition:enter='transition ease-in-out duration-300 transform'
        x-transition:enter-start='translate-x-full'
        x-transition:enter-end='translate-x-0'
        x-transition:leave='transition ease-in-out duration-300 transform'
        x-transition:leave-start='translate-x-0'
        x-transition:leave-end='translate-x-full'
        class='absolute h-full right-0 top-0 flex w-full max-w-xs flex-col overflow-y-auto bg-slate-600 pb-12 shadow-xl'
      >
        <div class='flex px-5 pb-2 pt-5 items-center justify-between w-full'>
          <p class='font-medium text-orange-200 text-xl'>Menu</p>
          <button
            x-on:click='mobileMenuOpen = false'
            type='button'
            class='rounded-md p-2 text-orange-200'
          >
            <span class='sr-only'>Close menu</span>
            <svg
              class='h-6 w-6'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              aria-hidden='true'
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <div class='flex flex-col gap-5 px-5 py-6'>
          {% for link in linklists['main-menu'].links %}
            <a
              href='{{ link.url }}'
              class='-m-2 block p-2 text-orange-200'
            >
              {{- link.title -}}
            </a>
          {% endfor %}

          {% comment %} Divider {% endcomment %}
          <div class='relative my-2'>
            <div class='absolute inset-0 flex items-center' aria-hidden='true'>
              <div class='w-full border-t border-orange-200'></div>
            </div>
          </div>

          <a
            href='{{ routes.account_url }}'
            class='-m-2 block p-2 text-orange-200'
            >Account</a
          >
        </div>
      </div>
    </div>
  </div>

  <header class='relative bg-slate-600'>
    <nav aria-label='Top' class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
      <div class=''>
        <div class='flex h-16 items-center justify-between'>
          <!-- Logo -->
          <div class='flex flex-1'>
            <a href='/'>
              <span class='sr-only'>BW Hats</span>
              {% render 'logo', class: 'w-auto h-6' %}
            </a>
          </div>

          <div class='hidden lg:flex lg:flex-1 lg:justify-center lg:space-x-8'>
            <!-- Links -->
            {% for link in linklists['main-menu'].links %}
              <a
                href='{{ link.url }}'
                class='-m-2 block p-2 whitespace-nowrap xl:text-lg text-orange-200 hover:text-orange-300'
              >
                {{- link.title -}}
              </a>
            {% endfor %}
          </div>

          <div class='flex flex-1 items-center gap-2 justify-end'>
            <!-- Search -->
            <div>
              <a
                href='{{ routes.search_url }}'
                class='flex p-2 text-orange-200 hover:text-orange-300'
              >
                <span class='sr-only'>Search</span>
                <svg
                  class='h-6 w-6'
                  fill='none'
                  viewBox='0 0 24 24'
                  stroke-width='1.5'
                  stroke='currentColor'
                  aria-hidden='true'
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
              </a>
            </div>

            {% comment %} Account {% endcomment %}
            <div class='hidden lg:block'>
              <a
                href='{{ routes.account_url }}'
                class='flex p-2 text-orange-200 hover:text-orange-300'
              >
                <span class='sr-only'>Account</span>
                {% render 'icon-user', class: 'h-6 w-6' %}
              </a>
            </div>

            <!-- Cart -->
            <div class='lg:relative'>
              <a
                href='{{ routes.cart_url }}'
                class='flex items-center p-2 group'
              >
                <svg
                  class='h-6 w-6 flex-shrink-0 text-orange-200 group-hover:text-orange-300'
                  fill='none'
                  viewBox='0 0 24 24'
                  stroke-width='1.5'
                  stroke='currentColor'
                  aria-hidden='true'
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg>
                <span
                  id='header-cart-item-count'
                  class='hidden lg:flex ml-2 text-sm font-medium text-orange-200 group-hover:text-orange-300'
                >
                  {{ cart.item_count }}
                </span>
                <span class='hidden lg:sr-only'>items in cart, view bag</span>
              </a>

              {% comment %} Cart popover {% endcomment %}
              <!--
                Entering: "transition ease-out duration-200"
                  From: "opacity-0"
                  To: "opacity-100"
                Leaving: "transition ease-in duration-150"
                  From: "opacity-100"
                  To: "opacity-0"
              -->

              <div
                id='global-cart-popover'
                class='hidden z-50 absolute inset-x-0 top-16 mt-px bg-orange-200 pb-6 shadow-lg sm:px-2 lg:left-auto lg:right-0 lg:top-full lg:-mr-1.5 lg:mt-3 lg:w-80 lg:rounded-lg lg:ring-1 lg:ring-slate-700 lg:ring-opacity-5 lg:hidden'
              >
                <div class='p-4 pb-0 flex items-center justify-between w-full'>
                  <h2 class='flex items-center gap-2 capitalize text-lg font-medium text-slate-600'>
                    {% render 'icon-check' %}
                    <span>Added to Bag!</span>
                  </h2>
                  <button>
                    {% render 'icon-close',
                      id: 'close-global-cart-popover',
                      class: 'w-6 h-6 text-slate-600'
                    %}
                  </button>
                </div>

                <form
                  class='mx-auto max-w-2xl px-4'
                  action='{{ routes.cart_url }}'
                  method='post'
                >
                  <div
                    class='divide-y divide-orange-200'
                    id='global-cart-popover-item'
                  ></div>

                  <button
                    type='submit'
                    name='checkout'
                    class='w-full rounded-md border border-transparent bg-slate-600 px-4 py-2 text-sm font-medium text-orange-200 shadow-sm hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 focus:ring-offset-orange-50'
                  >
                    Checkout
                  </button>

                  <p class='mt-6 text-center'>
                    <a
                      href='{{ routes.cart_url }}'
                      class='text-sm font-medium text-slate-600 hover:text-slate-500'
                      >View Shopping Bag</a
                    >
                  </p>
                </form>
              </div>
            </div>

            <div class='lg:hidden mt-0.5'>
              <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
              <button
                @click='mobileMenuOpen = true'
                type='button'
                class='rounded-md bg-slate-600 p-2 text-orange-200'
              >
                <span class='sr-only'>Open menu</span>
                <svg
                  class='h-6 w-6'
                  fill='none'
                  viewBox='0 0 24 24'
                  stroke-width='1.5'
                  stroke='currentColor'
                  aria-hidden='true'
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
